<ul data-uk-nav="" class="uk-nav uk-nav-side">
  <% _.each(list.subnavs, function(item){ %>
  <li>
    <a href="<%= item.href %>">
      <%= item.nombre %>
      <% if (item.subtitle){ %>
        <div><%= item.subtitle %></div>
      <% } %>
    </a>
  </li>
  <% }) %>
</ul>
