<div class="footer uk-grid">
  <% _.each(footers, function(list){ %>
    <div class="uk-width-small-1-4">
      <li class="uk-nav-header">
        <a href="<%= list.href %>">
          <%= list.nombre %>
          <% if (list.subtitle){ %>
          <div><%= list.subtitle %></div>
          <% } %>
        </a>
      </li>
      <% include footerList %>
    </div>
  <% }); %>
</div>
