
<div class="grid">
  <div class="uk-width-9-10 uk-container-center">
    <form id="publicacion" ng-submit="submitForm(true)" method="POST" class="uk-form uk-form-horizontal" enctype="multipart/form-data">
      <input id="publicacion-id" value="{{ publicacion.id?publicacion.id:-1 }}" type="hidden" ng-model="publicacion.id" ng-disabled="loading.form">
      <div class="uk-form-row">
        <label class="uk-form-label" for="publicacion-titulo">
          Titulo
        </label>
        <div class="uk-form-controls">
          <input id="publicacion-titulo" type="text" placeholder="Titulo" class="uk-form-large" ng-model="publicacion.titulo" ng-disabled="loading.form">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="publicacion-contenido">
          Contenido
        </label>
        <div class="uk-form-controls">
          <input id="publicacion-contenido" type="text" placeholder="Contenido" class="uk-form-large" ng-model="publicacion.contenido" ng-disabled="loading.form">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="publicacion-archivo">
          Archivo
        </label>
        <div class="uk-form-controls">
          <div flow-init="{target: urlUpload}"
               flow-files-submitted="$flow.upload()"
               flow-file-success="$file.msg = $message">
            <input id="publicacion-archivo" type="file" flow-btn />
            <input type="file" flow-btn flow-directory ng-show="$flow.supportDirectory"/>
            <span flow-btn>
              Subir archivo
            </span>
            <span class="btn" flow-btn flow-directory ng-show="$flow.supportDirectory">
              Subir directorio
            </span>
          </div>
          <div>
            <a class="uk-button uk-button-small uk-button-success" ng-click="$flow.resume()">Subir</a>
            <a class="uk-button uk-button-small uk-button-danger" ng-click="$flow.pause()">Pausar</a>
            <a class="uk-button uk-button-small uk-button-info" ng-click="$flow.cancel()">Cancelar</a>
            <span class="label label-info">Size: {{$flow.getSize()}}</span>
            <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>
          </div>
          <table flow-transfers class="uk-table uk-table-hover uk-table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Size</th>
              <th>Relative Path</th>
              <th>Unique Identifier</th>
              <th>#Chunks</th>
              <th>Progress</th>
              <th>Paused</th>
              <th>Uploading</th>
              <th>Completed</th>
              <th>Settings</th>
              <th>Thumbnail</th>
            </tr>
            </thead>
            <tr ng-repeat="file in $flow.files">
              <td>{{$index+1}}</td>
              <td>{{file.name}}</td>
              <td>{{file.size}}</td>
              <td>{{file.relativePath}}</td>
              <td>{{file.uniqueIdentifier}}</td>
              <td>{{file.chunks.length}}</td>
              <td>{{file.progress()}}</td>
              <td>{{file.paused}}</td>
              <td>{{file.isUploading()}}</td>
              <td>{{file.isComplete()}}</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused">
                    Pause
                  </a>
                  <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused">
                    Resume
                  </a>
                  <a class="btn btn-mini btn-danger" ng-click="file.cancel()">
                    Cancel
                  </a>
                  <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error">
                    Retry
                  </a>
                </div>
              </td>
              <td>
                <div class="thumbnail" ng-show="$flow.files.length">
                  <img flow-img="$flow.file" />
                </div>
              </td>
            </tr>
          </table>
          <div class="alert" flow-drop flow-drop-enabled="!loading.form">
            Arrastra aquí
          </div>
        </div>
      </div>
      <div class="uk-form-row">
        <button type="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">
          <span ng-show="!loading.form">Guardar</span>
          <span ng-show="loading.form" class="fa fa-spinner fa-spin"></span>
          <span ng-show="loading.form">Guardar...</span>
        </button>
      </div>
    </form>
  </div>
</div>
