
<div class="grid">
  <div class="uk-width-9-10 uk-container-center">
    <form id="etiqueta" class="uk-form uk-form-horizontal">
      <div class="uk-form-row">
        <label class="uk-form-label" for="etiqueta-nombre">
          Nombre
        </label>
        <div class="uk-form-controls">
          <input id="etiqueta-nombre" type="text" placeholder="Nombre" class="uk-form-large" ng-model="etiqueta.nombre">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="etiqueta-descripcion">
          Descripción
        </label>
        <div class="uk-form-controls">
          <input id="etiqueta-descripcion" type="text" placeholder="Descripción" class="uk-form-large" ng-model="etiqueta.descripcion">
        </div>
      </div>
    </form>
  </div>
</div>
