
<div class="content uk-grid">
  <div class="uk-container-center uk-width-small-5-6 uk-width-medium-7-8 uk-width-large-9-10 uk-width-xlarge-11-12">
    <div class="uk-grid">
      <div id="uk-content" class="uk-grid uk-width-small-4-6 uk-width-medium-6-8 uk-width-large-8-10 uk-width-xlarge-10-12">
        <article ng-if="articles.length > 0" ng-repeat="article in articles track by $index" class="uk-article" ng-class="article.fullwidth?'uk-width-1-1':''" data-uk-scrollspy="{cls:'uk-animation-fade'}">
          <a ng-if="article.sref" ui-sref="{{article.sref}}">
            <h1 class="uk-article-title" data-uk-sticky="{boundary: true, top:70, animation: 'uk-animation-slide-top'}">
              {{ article.title }}
            </h1>
          </a>
          <h1 ng-if="!article.sref" class="uk-article-title" data-uk-sticky="{boundary: true, top:70, animation: 'uk-animation-slide-top'}">
            {{ article.title }}
          </h1>
          <p class="uk-article-meta">
          <span ng-repeat="meta in article.metas" ng-model="article.meta">
            {{ meta.name.capitalize() }} {{ meta.value }}
          </span>
          </p>
          <p ng-if="article.subtitle" class="uk-article-lead">
            {{ article.subtitle }}
          </p>
          <p ng-repeat="content in article.content" ng-model="article.content" class="uk-article-lead">
            {{ content.text?content.text:content }}
          </p>
          <hr ng-if="article.footer" class="uk-article-divider">
          <p ng-if="article.footer" class="uk-article-foot">
            {{ article.footer }}
          </p>

        </article>
        <div ng-if="clientes.length > 0" ng-repeat="cliente in clientes track by $index"  data-uk-scrollspy="{}" class="uk-width-1-1">
          <a class="uk-thumbnail uk-grid" ng-href="{{ cliente.href?cliente.href:'' }}" ui-sref="{{ cliente.sref }}">
            <div class="uk-small-1-1 uk-width-medium-4-10">
              <img class="uk-overlay-scale" ng-src="{{ (cliente.srcBase?cliente.srcBase:'') + cliente.src }}" alt="{{cliente.nombre.capitalize()}}">
            </div>
            <div class="uk-thumbnail-caption uk-width-small-1-1 uk-width-medium-6-10">
              <h1>
                {{ cliente.nombre.capitalize() }}
              </h1>
              <p>
                {{ cliente.descripcion }}
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="uk-publicity uk-width-small-2-6 uk-width-medium-2-8 uk-width-large-2-10 uk-width-xlarge-2-12">
        <figure ng-repeat="figure in figures" class="uk-overlay uk-overlay-hover"  data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true, delay: 200}">
          <img class="uk-overlay-scale" ng-src="{{ (figure.srcBase?figure.srcBase:'') + figure.src }}" alt="{{figure.nombre.capitalize()}}" width="640" height="480">
          <figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-overlay-fade uk-overlay-background">
            {{ figure.nombre.capitalize() }}
          </figcaption>
          <a class="uk-position-cover" href="{{ figure.sref }}"></a>
        </figure>
      </div>
    </div>
  </div>
</div>
