
<div class="footer uk-grid">
  <div class="uk-width-small-1-4" ng-repeat="list in footers" ng-model="footers">
    <ul data-uk-nav="" class="uk-nav uk-nav-side">
      <li class="uk-nav-header">
        <a ui-sref="{{list.sref}}" ui-sref-active="active">
          {{ list.nombre.capitalize() }}
          <div ng-if="list.subtitle">{{ list.subtitle }}</div>
        </a>
      </li>
      <li ng-repeat="item in list.subnavs" ng-model="list.subnavs">
        <a ui-sref="{{item.sref}}" ui-sref-active="active">
          {{ item.nombre.capitalize() }}
          <div nd-if="item.subtitle">{{ item.subtitle }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
