<!DOCTYPE html>
<html>
<head>
  <title>Soluciones Cúcuta - Perfil</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/uikit/uikit.almost-flat.min.css">
  <link rel="stylesheet" href="/styles/uikit/slideshow.almost-flat.min.css">
  <link rel="stylesheet" href="/styles/uikit/sticky.almost-flat.min.css">
  <link rel="stylesheet" href="/styles/uikit/dotnav.almost-flat.min.css">
  <link rel="stylesheet" href="/styles/angular-toastr.min.css">
  <link rel="stylesheet" href="/styles/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/ng-animate.css">
  <link rel="stylesheet" href="/styles/uikit/dotnav.min.css">
  <link rel="stylesheet" href="/styles/uikit/slideshow.min.css">
  <link rel="stylesheet" href="/styles/uikit/sticky.min.css">
  <link rel="stylesheet" href="/styles/uikit/uikit.min.css">
  <!--STYLES END-->

  <style type="text/css">
    body.loading{
      overflow: hidden;
    }
    .uk-cover.loading-page{
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
      color: #fff;
      z-index: 9;
    }
    .uk-cover.loading-page .fa{
      font-size: 100px;
    }
    .uk-navbar{
      top: 0;
      position: fixed;
      width: 100%;
      z-index: 2;
    }
    .search{
      margin-bottom: 10px;
    }
    .search .uk-form-row.uk-width-1-2,
    .search .uk-form-row.uk-width-2-4,
    .search .uk-form-row.uk-width-3-6,
    .search .uk-form-row.uk-width-5-10{
      width: 49%;
    }
    .search .uk-form-row{
      display: inline-block;
    }
    .angular-content{
      margin: 50px 0;
    }
  </style>
</head>
<body ng-app="perfilModule" ng-cloak ng-class="loading.page?'loading':''" flow-prevent-drop
      flow-drag-enter="style={border: '5px solid green'}"
      flow-drag-leave="style={}"
      ng-style="style">
  <!--TEMPLATES-->
  <script type="text/javascript" src="/jst.js"></script>
  <!--TEMPLATES END-->
  <nav class="uk-navbar">
    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav">
        <li class="uk-parent" data-uk-dropdown ng-init="loading.page=true">
          <a href="">
            Usuario
          </a>

          <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-large">
            <ul class="uk-nav uk-nav uk-nav-navbar">
              <li>
                <a ui-sref="usuario.list">
                  Listar
                </a>
              </li>
              <li>
                <a ui-sref="usuario.add">
                  Agregar
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="uk-parent" data-uk-dropdown>
          <a href="">
            Publicación
          </a>

          <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-large">
            <ul class="uk-nav uk-nav uk-nav-navbar">
              <li>
                <a ui-sref="publicacion.list">
                  Listar
                </a>
              </li>
              <li>
                <a ui-sref="publicacion.add">
                  Agregar
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="uk-parent" data-uk-dropdown>
          <a href="">
            Etiquetas
          </a>

          <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-large">
            <ul class="uk-nav uk-nav uk-nav-navbar">
              <li>
                <a ui-sref="etiqueta.list">
                  Listar
                </a>
              </li>
              <li>
                <a ui-sref="etiqueta.add">
                  Agregar
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="uk-parent" data-uk-dropdown>
          <a ui-sref="dashboard">
            <%=: __('perfil')|capitalize %>
          </a>
        </li>
        <li class="uk-parent" data-uk-dropdown>
          <a href="/Logout">
            <%=: __('salir')|capitalize %>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="angular-content grid">
    <div class="uk-width-9-10 uk-container-center">
      <div ui-view="list" ng-animate class="scale-fade uk-width-1-1"></div>
    </div>
  </div>
  <div ng-show="loading.page" class="uk-cover loading-page toggle" ng-animate>
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
      <div class="uk-vertical-align-middle">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
</body>
<div id="javascripts">
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/components/tinymce.min.js"></script>
  <script src="/js/dependencies/components/lodash.min.js"></script>
  <script src="/js/dependencies/components/lodash.undescore.min.js"></script>
  <script src="/js/dependencies/components/angular.js"></script>
  <script src="/js/dependencies/components/angular-animate.min.js"></script>
  <script src="/js/dependencies/components/angular-flow-standalone.min.js"></script>
  <script src="/js/dependencies/components/angular-sails.min.js"></script>
  <script src="/js/dependencies/components/angular-toastr.min.js"></script>
  <script src="/js/dependencies/components/angular-toastr.tpls.min.js"></script>
  <script src="/js/dependencies/components/angular-ui-router.min.js"></script>
  <script src="/js/dependencies/components/angular-ui-tinymce.js"></script>
  <script src="/js/dependencies/components/angular-ui-utils-ieshiv.min.js"></script>
  <script src="/js/dependencies/components/angular-ui-utils.min.js"></script>
  <script src="/js/dependencies/components/angular-utils-pagination-dir.js"></script>
  <script src="/js/dependencies/jquery-2.1.3.min.js"></script>
  <script src="/js/dependencies/lazysizes.min.js"></script>
  <script src="/js/uikit/core.min.js"></script>
  <script src="/js/uikit/utility.min.js"></script>
  <script src="/js/uikit/core-grid.min.js"></script>
  <script src="/js/uikit/slideshow.min.js"></script>
  <script src="/js/uikit/button.min.js"></script>
  <script src="/js/uikit/cover.min.js"></script>
  <script src="/js/uikit/dropdown.min.js"></script>
  <script src="/js/uikit/grid.min.js"></script>
  <script src="/js/uikit/modal.min.js"></script>
  <script src="/js/uikit/nav.min.js"></script>
  <script src="/js/uikit/offcanvas.min.js"></script>
  <script src="/js/uikit/scrollspy.min.js"></script>
  <script src="/js/uikit/slideshow-fx.min.js"></script>
  <script src="/js/uikit/smooth-scroll.min.js"></script>
  <script src="/js/uikit/sticky.min.js"></script>
  <script src="/js/uikit/touch.min.js"></script>
  <script src="/js/uikit/uikit.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <!--SCRIPTS END-->
  <script type="text/javascript">
    window.sails_locals = { _csrf: "<%= _csrf %>" };


    /*** => APPS <= ***/


    var perfilModule = angular.module("perfilModule",['ui.router', 'ngSails', 'toastr', 'ngAnimate', 'flow']);

    perfilModule.config(function ($stateProvider, $urlRouterProvider){

      $urlRouterProvider.otherwise('/Dashboard');
      $stateProvider
        .state('dashboard',{
          url: '/Dashboard',
          views: {
            'list': {
              template: '<h1>Bienvenido</h1>',
              controller: 'navigateController'
            }
          }
          //template: JST["assets/templates/dashboard.html"]
        })
        // Usuarios
        .state('usuario',{
          url: '/Usuarios'
          ,views: {
            'list': {
              template: JST["assets/templates/Usuario/list-usuarios.html"],
              controller: 'navigateController'
            }
          }
        })
        .state('usuario.list',{
          url: '/lista?{page:[0-9]*}',
          views: {
            'list': {
              controller: 'navigateController'
            }
          }
        })
        .state('usuario.add',{
          url: '/agregar',
          views: {
            'form': {
              template: JST["assets/templates/Usuario/form-usuarios.html"],
              controller: 'navigateController'
            }
          }
        })
        /*.state('usuario.show',{
         url: '/ver/{username}',
         views: {
         'form': {
         template: JST["assets/templates/Usuario/form-usuarios.html"],
         controller: 'navigateController'
         }
         }
         })*/
        // Publicaciones
        .state('publicacion',{
          url: '/Publicaciones'
          ,views: {
            'list': {
              template: JST["assets/templates/Publicacion/list-publicaciones.html"],
              controller: 'navigateController'
            }
          }
        })
        .state('publicacion.list',{
          url: '/lista?{page:[0-9]*}',
          views: {
            'list':{
              template: JST["assets/templates/Publicacion/list-publicaciones.html"],
              controller: 'navigateController'
            }
          }
        })
        .state('publicacion.add',{
          url: '/agregar',
          views: {
            'form':{
              template: JST["assets/templates/Publicacion/form-publicaciones.html"],
              controller: 'navigateController'
            }
          }
        })
        .state('publicacion.show',{
          url: '/{id}',
          views: {
            'form': {
              template: JST["assets/templates/Usuario/form-publicaciones.html"],
              controller: 'navigateController'
            }
          }
        })
        // Etiquetas
        .state('etiqueta',{
          url: '/Etiquetas'
          ,views: {
            'list': {
              template: JST["assets/templates/Etiqueta/list-etiquetas.html"],
              controller: 'navigateController'
            }
          }
        })
        .state('etiqueta.list',{
          url: '/lista?{page:[0-9]*}',
          views: {
            'list': {
              template: JST["assets/templates/Etiqueta/list-etiquetas.html"],
              controller: 'navigateController'
            }
          }
        })
        .state('etiqueta.add',{
          url: '/agregar',
          views: {
            'form': {
              template: JST["assets/templates/Etiqueta/form-etiquetas.html"],
              controller: 'navigateController'
            }
          }
        })
      ;
    });

    perfilModule.config(function(toastrConfig) {
      angular.extend(toastrConfig, {
        allowHtml: false,
        closeButton: false,
        closeHtml: '<button>&times;</button>',
        containerId: 'toast-container',
        extendedTimeOut: 1000,
        iconClasses: {
          error: 'toast-error',
          info: 'toast-info',
          success: 'toast-success',
          warning: 'toast-warning'
        },
        maxOpened: 0,
        messageClass: 'toast-message',
        newestOnTop: true,
        onHidden: null,
        onShown: null,
        positionClass: 'toast-top-right',
        preventDuplicates: false,
        progressBar: false,
        tapToDismiss: true,
        target: 'body',
        templates: {
          toast: 'directives/toast/toast.html',
          progressbar: 'directives/progressbar/progressbar.html'
        },
        timeOut: 5000,
        titleClass: 'toast-title',
        toastClass: 'toast'
      });
    });

    perfilModule.config(['flowFactoryProvider', function (flowFactoryProvider) {
      flowFactoryProvider.defaults = {
        target: '/assets/archivos',
        permanentErrors:[404, 500, 501],
        maxChunkRetries: 1,
        chunkRetryInterval: 5000,
        simultaneousUploads: 4
      };
      // You can also set default events:
      /*flowFactoryProvider.on('catchAll', function (event) {

      });*/
      // Can be used with different implementations of Flow.js
      // flowFactoryProvider.factory = fustyFlowFactory;
    }]);

    String.prototype.capitalize = function() {
      return this.replace(/\w\S*/g, function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      });
    }


    /*** => CONTROLLERS <= ***/


    //Functions
    var animations = [
      "toggle",
      "spin-toggle",
      "scale-fade",
      "scale-fade-in",
      "bouncy-scale-in",
      "flip-in",
      "slide-left",
      "slide-right",
      "slide-top",
      "slide-down",
      "bouncy-slide-left",
      "bouncy-slide-right",
      "bouncy-slide-top",
      "bouncy-slide-down",
      "rotate-in"
    ];
    var postitionsToastr = {
      topfull:    "toast-top-full-width",
      botfull:    "toast-bottom-full-width",
      topcenter:  "toast-top-center",
      botcenter:  "toast-bottom-center",
      topleft:    "toast-top-left",
      botleft:    "toast-bottom-left",
      topright:   "toast-top-right",
      botright:   "toast-bottom-right"
    };
    var namespaces = {
      'etiqueta':     'etiquetas',
      'publicacion':  'publicaciones',
      'usuario':      'usuarios'
    }

    // Navigate Controller
    var navigateController = perfilModule.controller('navigateController',['$http', '$scope','$state', '$sails', 'toastr', '$timeout', '$interval',
      function changeState($http, $scope, $state, $sails, toastr, $timeout, $interval){
        if(!$scope.loading){
          $scope.loading = {};
        }
        $scope.loading.page = true;

        var
          splitName = $state.current.name.split('.'),
          params = $state.params,
          namespace = splitName[0].toLowerCase(),
          action = splitName[1]?splitName[1].toLowerCase():'',
          plural = namespaces[namespace], uri = "/"+namespace.toString().capitalize();

        $scope.namespace = splitName[0];
        /*toastr.clear();

         toastr.info('Cargando "'+namespace.toString().capitalize()+'"',null,{
         closeButton: true,
         positionClass: 'toast-bottom-right'
         });*/

        $scope.pagination = {
          page: params.page || 1
          ,total: 0
          ,limit: params.limit || 10
          ,sort: typeof params.sort != 'string'?'nombre ASC':params.sort
        };

        if($state.current.name == 'dashboard'){

          $scope.loading.page = false;

        }else{
          $http.get(uri+"/count")
            .success(function(data, status, headers, jwr){
              if(data.count){
                $scope.pagination.total = data.count || 0;
              }
              $scope.pagination.totalPages = Math.floor($scope.pagination.total/$scope.pagination.limit) + 1;

              var next = ($scope.pagination.page*1) + 1, prev = $scope.pagination.page - 1;

              if(next > $scope.pagination.totalPages){
                next = 1;
              }
              if(prev < 1){
                prev = $scope.pagination.totalPages;
              }
              $scope.pagination.next = next;
              $scope.pagination.prev = prev;

              $scope.pagination.pages = [];
              var param = 'nombre';
              /*for(var i=0; i < $scope.total; i++){

               }*/
              switch ($state.current.name){
                /* => Etiquetas <=*/
                case 'etiqueta':
                  break;
                case 'etiqueta.add':
                case 'etiqueta.list':
                  break;

                /* => Usuarios <=*/

                case 'usuario':
                  break;
                case 'usuario.add':
                case 'usuario.list':
                  param = 'username';
                  $scope.pagination.sort = typeof params.sort != 'string'?param+' ASC':params.sort;
                  break;

                /* => Publicaciones <=*/

                case 'publicacion':
                  break;
                case 'publicacion.add':
                case 'publicacion.list':
                  param = 'titulo';
                  $scope.pagination.sort = typeof params.sort != 'string'?param+' ASC':params.sort;
                  break;
              }
              $http.get(uri+"?sort="+$scope.pagination.sort+'&limit='+$scope.pagination.limit+'&skip='+(($scope.pagination.page - 1) * $scope.pagination.limit))
                .success(function (data, status, headers, jwr) {
                  $scope[plural] = data;
                })
                .error(function (data, status, headers, jwr) {
                  toastr.clear();

                  toastr.error('Error obteniendo la lista de "'+plural+'"',null,{
                    closeButton: true,
                    positionClass: 'toast-bottom-right'
                  });
                }).finally(function(){
                  if(!$scope.loadStateChange){
                    $scope.loadStateChange = true;
                    $scope.$on('$stateChangeStart', function(e, toState, toParams, fromState, fromParams){
                      if(toState.name == fromState.name){
                        //$scope.loading.page = true;
                        $state.current = toState;
                        $state.params = toParams;
                        changeState($http, $scope, $state, $sails, toastr, $timeout, $interval);
                      }
                    });
                  }
                  $timeout(function(){
                    $scope.loading.page = false;
                  }, 500);
                });
              switch (action){
                case 'list':
                  break;
                case 'show':
                case 'add':
                  $scope.loading.form = false;
                  if(action == 'show'){
                    var val = req.param(param) || false;
                    if(val){
                      $http.get(uri+'?where={or: [{"titulo":'+titulo+'}, {"id":'+titulo+'}]}')
                        .success(function (data, status, headers, jwr) {
                          $scope[namespace] = data;
                        })
                        .error(function(data, status, headers, jwr){
                          toastr.clear();

                          toastr.error('Error obteniendo "'+namespace+'"',null,{
                            closeButton: true,
                            positionClass: 'toast-bottom-right'
                          });
                        });
                    }
                  }
                  $scope.submitForm = function(nuevo){
                    $scope.loading.form = true;
                    $scope[namespace]._csrf = window.sails_locals._csrf;
                    var query = null;
                    var archivos = $scope[namespace].archivos;
                    console.log($scope[namespace]);
                    console.log(archivos);

                    /*if($scope[namespace].id){
                      query = $http.put(uri, $scope[namespace]);
                    }else{
                      query = $http.post(uri, $scope[namespace])
                    }
                    query
                      .success(function(data, status, header, jwr){
                        if(data.id){
                          $scope[namespace] = data;

                          var exist = true;
                          for(obj in $scope[plural]){
                            if($scope[namespace].slug != obj.slug){
                              exist = false;
                              break;
                            }
                          }
                          if($scope[namespace].id && !exist){
                            $scope[plural].push($scope[namespace]);
                          }

                          // Guardar archivo
                          if(archivos){
                            $http.post(uri+'/Archivos')
                          }

                          toastr.clear();
                          var attr = 'nombre';
                          if($scope[namespace].titulo){
                            attr = 'titulo';
                          }else if($scope[namespace].username){
                            attr = 'username';
                          }
                          toastr.success('Se a agregado "'+$scope[namespace][attr],null,{
                            closeButton: true,
                            positionClass: 'toast-bottom-right'
                          });

                        }
                      }).error(function (data, status, headers, jwr) {
                        toastr.clear();

                        toastr.error('Error no se guardaron los datos',null,{
                          closeButton: true,
                          positionClass: 'toast-bottom-right'
                        });
                      }).finally(function(){
                        $timeout(function(){
                          $scope.loading.form = false;
                        }, 5000);
                      });*/
                  }
                  $timeout(function(){
                    $scope.loading.page = false;
                  }, 500);
                  break;
              }
            })
            .error(function (data, status, headers, jwr) {
              toastr.clear();

              toastr.info('No se encontraron "'+plural+'"',null,{
                closeButton: true,
                positionClass: 'toast-bottom-right'
              });
            })
            .finally(function(){
              $timeout(function(){
                $scope.loading.page = false;
              }, 5000);
            });
        }
      }
    ]);

  </script>
</div>
